data/
data_sub/
data_full/
!data/checkpoints/
data/checkpoints/*
!data/checkpoints/.gitkeep
checkpoints/*

musdb18/


*.zip

outputs/

__pycache__/
*.pyc
*.pyo
*.egg-info/
.Python

.ipynb_checkpoints/
*.ipynb_checkpoints

.vscode/
.idea/
*.swp
*.swo

.conda/
.env
venv/
env/
deep-music-cuda/

.DS_Store
Thumbs.db
